.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero__title {
  font-size: clamp(3.8rem, 8vw, 8rem);
  font-weight: 700;
  margin-top: 10px;
}

.hero__second {
  font-weight: 400;
  font-size: clamp(2.2rem, 5vw, 3rem);
  color: #aeb8d6;
}

.hero__second  strong {
  color: #ffffff;
}


.hero__text {
  font-size: 1.6rem;
  font-size: clamp(1.6rem,5vw,2rem);
  font-weight: 400;
  color: #aeb8d6;
}

.hero__button {
  display: inline-block;
  border: 1px solid var(--green);
  border-radius: 5px;
  color: var(--green);
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  padding: 12px 30px;
  cursor: pointer;
  margin-top: 50px;
  transition: var(--transition);
}

.hero__button:hover {
  background-color: var(--green-tint);
}


@media screen and (min-width: 768px) {
  .hero__second {
    margin-right: 150px;
  }
}