:root {
  --bg: rgb(14, 18, 56);
  --bg-shadow: rgba(14, 18, 56, 0.6);
  --size: 40px;
  --lineWidth: 1px;
  --burgerPadding: 16px;

  --burger-color: #ffffff;

  --menu-bg: #171d54;
  --bg-footer: #aeb8d6;

  --green: #2dd7bb;
  --green-tint: rgb(45, 215, 187, 0.4);
  --current-text: #aeb8d6;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

body > * {
  box-sizing: inherit;
}
body {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  font-size: 2rem;
  color: var(--current-text);
  background-color: var(--bg);
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

.image {
  width: 100%;
  height: 100%;
}

.content {
  margin: 0 auto;
  max-width: 960;
  padding: 0 2.5rem 1.45rem;
}

.section {
  min-height: 100vh;
  max-width: 1600px;
  padding: 0px 0 30px 0px;
  box-sizing: border-box;
}

.section-title {
  font-weight: 600;
  font-size: clamp(3rem,5vw,5rem);
  color: #ccd6f6;
  position: relative;
  margin: 10px 0px 40px;
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 22px;
}

.section-title:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--green);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0 100px;
  }
  .section-title:after {
    width: 200px;
  }
}
