.about__wrapper {
  margin: 100px 60px;
  filter: grayscale(65%);
  border-radius: 5px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  position: relative;
}

.about__wrapper:before {
  display: block;
  content: '';
  width: 120%;
  height: 120%;
  border: 1px solid var(--green);
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -51%);
  z-index: -1;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.about__wrapper:focus, .about__wrapper:hover {
  filter: grayscale(0%);
}

.about__wrapper:focus:before, .about__wrapper:hover:before {
  width: 80%;
  height: 80%;
}

.about__image {
  border-radius: 5px;
}