.contact {
  box-sizing: border-box;
}

.contact__title {
  color: #fff;
  font-size: 3rem;
  font-size: clamp(3rem, 4vw, 4rem);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contact__text {
  text-align: center;
  margin: 50px 0;
  font-size: clamp(1.8rem, 3vw, 2.3rem);
}

.contact__link {
  text-decoration: none;
  color: var(--green);
  transition: var(--transition);
}

.contact__link:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 180px;
}

@media screen and (min-width: 768px) {
  .contact__text {
    text-align: center;
    margin: 50px 80px;
  }
}